* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

a:hover{
    border: solid #464646;
    border-width: 0 0 5px 2px;
}

main {
    background-color: #24305E;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

#grid-container {
    display: grid;
    grid-template-areas:
        'title'
        'project-1'
        'project-2'
        'project-3'
        'info';
    width: 80%;
    height: 80%;
    grid-gap: 30px;
    background-color: #24305E;
}

@media only screen and (min-width: 1000px){
    main {
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: 0;
        align-items: center;
    }

    #grid-container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
            'project-1 project-2 project-2'
            'project-1 title info'
            'project-3 project-3 info';
    }
}

.grid-item {
    min-height: 100px;
    color: #464646;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

#title {
    grid-area: title;
    background-color: #24305E;
    color: #F8E9A1;
    justify-content: center;
    text-align: center;
}

#info {
    grid-area: info;
    background-color: #A8D0E6;
}

#profile-image-container {
    flex-grow: 1;
    width: 50%;
    align-self: flex-end;
    margin-top: auto;
    position: relative;
}

#profile-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
}

#project-1 {
    grid-area: project-1;
    background-color: #A8D0E6;
}

#project-2 {
    grid-area: project-2;
    background-color: #F8E9A1;
    justify-content: space-between;
}

#project-3 {
    grid-area: project-3;
    background-color: #F76C6C;
}

#project2-grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'project2-paragraph project2-image';
    grid-gap: 10px;
    max-height: calc(100% - 53px);
}

#project2-paragraph {
    grid-area: project2-paragraph;
}

#project2-image-container {
    grid-area: project2-image;
    max-height: 100%;
    overflow: hidden;
    margin-left: auto;
}

#project2-img {
    width: 100%;
    max-height: 100%;
    border-radius: 30px;
}

@media only screen and (max-width: 700px) {
    #project2-grid-container {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'project2-paragraph'
            'project2-image';
    }
}
